@{
    ViewBag.Title = "Experiência";
}

<div class="inner cover">
    <p class="lead">
       <ul>
            EXPERIÊNCIA PROFISSIONAL
        
           <li>
               Rodoservice comércio e serviços LTDA.
               Cargo: Técnico em eletrônica
               Período: 10/2009 a 02/2013
               Atividades: manutenção eletrônica em ônibus e veículos pesados, manutenção em aparelhos eletrônicos de aferição de tacógrafos e desenvolvimento de softwares em C e hardware para produtos automotivos (velocímetros, conta giros, marcadores e etc.).
           </li>
           <li>
               Viação Planeta LTDA
               Cargo: Técnico em eletrônica
               Período: 02/2013 a 01/2014
               Atividades: manutenção de toda parte eletrônica e elétrica em ônibus e veículos pesados.
           </li>
           <li>
               M2sys Tecnologia e Serviço
               Cargo: Estagiário de Desenvolvimento C#
               Período: Abril/2014 a atualmente.
               Atividade: Manutenção e desenvolvimento de ferramentas bancárias para aplicação em serviços terceirizados dos bancos Itaú e HSBC com aplicação Web e Desktop.
           </li>
       </ul>



</p>
    <p class="lead">
        <a href="/Home" class="btn btn-lg btn-default">Voltar</a>
    </p>
</div>
