@{
    ViewBag.Title = "Index";
}

<div class="inner cover">
    <p class="lead">
        Tel. residencial: (61) 3459-1671 <br>
        Celular: (61) 8317-1957<br>
        E-mail: carlos.henrike13@gmail.com
    </p>
     <p class="lead">
        <a href="/Home" class="btn btn-lg btn-default">Voltar</a>
    </p>
</div>