@{
    ViewBag.Title = "Index";
}

<div class="inner cover">
    <p class="lead">Eu sou o Projetos</p>
    
    <div width="426" height="240">
        <video controls src="~/Public/IMG_5459.mp4" width="426" height="240"></video>
    </div>
    
    <p class="lead">
        <a href="/Home" class="btn btn-lg btn-default">Voltar</a>
    </p>
</div>