@{
    ViewBag.Title = "Index";
}

<div class="inner cover">
    <br> 
    <div width="850" height="650">
        <iframe width="300" height="215" src="https://www.youtube.com/embed/4DvCwGUvF5Y"></iframe> 
        <br>    <br> <br> 
    </div>
    
    <p class="lead">
        <a href="/Home" class="btn btn-lg btn-default">Voltar</a>
    </p>
</div>