@{
    ViewBag.Title = "Index";
}

<div class="inner cover">
    <p class="lead">
        <h3>Carlos Henrique Moreira de Souza</h3>
        Casado, brasileiro, 24 anos.
        Cursando o 5º semestre de Sistemas de informação na FACNET Anhanguera. 
        RESUMO PROFISSIONAL<br><br>
        Como Técnico em eletrônica:<br>
        Experiência como técnico em eletrônica desde 2009, domínio total de ferramentas de teste (multímetro e osciloscópio) e com a experiência de técnico em eletrônica desenvolvi diversos projetos utilizando a linguagem C/C++, adquirindo assim uma boa lógica de programação.<br><br>
        Como Desenvolvedor/programador:<br>
        Conhecimento satisfatório nas ferramentas de desenvolvimento: Eclipse, NetBeans, Dreamweaver, Visual Studio 2010. Conhecimento satisfatório em: Java, HTML, PHP, Java Script, MySQL, C/C++.
    </p>
    <p class="lead">
        <a href="/Home" class="btn btn-lg btn-default">Voltar</a>
    </p>
</div>

