<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Meu currículo</title>

    <link href="~/Public/style.css" rel="stylesheet" type="text/css" />
</head>

<body>
    <div>
        <h2>experiencia</h2>
    </div>
</body>
</html>